header {
    width: 100%;
    padding: 45px 0;
    position: relative;

    #pp {
        margin: auto;
        width: 300px;
        display: block;
    }

    .nav-icon {
        position: fixed;
        right: 20px;
        top: 20px;
        background-color: black;
        border-radius: 20px;
        z-index: 100;

        p {
            color: white;
            font-size: var(--small-font-size);
            display: inline-block;
            cursor: pointer;
            margin: 7px;

            &:hover { text-decoration: underline }
        }
    }
}

@media screen and (max-width: 900px) {
    header {
        #pp {
            width: 250px;
        }
    }
}

@media screen and (max-width: 600px) {
    header {
        #pp {
            width: 200px;
        }
    }
}